<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
      <add key="serverport" value="8080" />
      <add key="WelcomeMessage" value="Benvenuto!" />
      <add key="mysql_host" value="localhost" />
      <add key="mysql_user" value="root" />
      <add key="mysql_password" value="" />
      <add key="mysql_db" value="ellapp" />
  </appSettings>

</configuration>