<?php
define("MYSQL_HOST", "localhost");
define("MYSQL_USERNAME", "root");
define("MYSQL_PASSWORD", "");
define("MYSQL_DATABASE", "ellapp");

define("DB_CLASS", "classes/db_class.php");
include(DB_CLASS);
?>