html {
}
body {
    background:url("../images/intro3.jpg") no-repeat fixed;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: context-menu;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#container_text {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 37px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

#container_chat{
    overflow-x: hidden;
    margin-bottom: 20px;
    margin-top: 5px;
}

.user_box_chat{
    border: 1px solid #000000;
    margin-top: 1px;
    border-radius: 6px;
}

.user_box_chat_link{
    text-shadow: none;
    color: #000000;
}

.user_box_chat_link:hover{
    color: #000000;
}

.user_box_chat_link:visited{
    color: #000000;
}

.btn_back_chat_general{
    width: 100%;
}

#userspan{
    text-transform: capitalize;
}

.text_distance_from_left{
    margin-left: 5px;
}

/*
 * Component: Callout
 * ------------------
 */
.callout {
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout a {
  color: #fff;
  text-decoration: underline;
}
.callout a:hover {
  color: #eee;
}
.callout h4 {
  margin-top: 0;
  font-weight: 600;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}
.callout.callout-danger {
  border-color: #c23321;
}
.callout.callout-warning {
  border-color: #c87f0a;
}
.callout.callout-info {
  border-color: #0097bc;
}
.callout.callout-success {
  border-color: #00733e;
}

.callout.callout-danger {
  background-color: #dd4b39 !important;
}

.callout.callout-warning {
  background-color: #f39c12 !important;
}

.callout.callout-info{
  background-color: #00c0ef !important;
}

.callout.callout-success {
  background-color: #00a65a !important;
}