html {
}
body {
}
#container_text {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 37px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

#container_chat{
    overflow-x: hidden;
    margin-bottom: 20px;
}

.user_box_chat{
    border: 1px solid #BCC2C4;
    margin-top: 1px;
}

.user_box_chat_link{
    color: #000000;
}

.user_box_chat_link:hover{
    color: #000000;
}

.user_box_chat_link:visited{
    color: #000000;
}

.btn_back_chat_general{
    width: 100%;
}