.spinner-loading {
    width: 20px;
    height: 20px;
    background-image: url("spinner-loading.png");
    background-position: -140px 0px;
    display: inline-block;
    animation: 0.8s steps(21, end) 0s normal none infinite running keyframes-loading;
}
@-webkit-keyframes keyframes-loading{from{background-position:0 0}
to{background-position:-420px}
}
@-moz-keyframes keyframes-loading{from{background-position:0 0}
to{background-position:-420px}
}
@-ms-keyframes keyframes-loading{from{background-position:0 0}
to{background-position:-420px}
}
@keyframes keyframes-loading{from{background-position:0 0}
to{background-position:-420px}
}